# Build artifacts
work/
out/
*.iso
__pycache__/
*.qcow2
*.pkg.tar.zst
installer/poc/orinos-repo/orinos-branding/pkg/
installer/poc/orinos-repo/orinos-branding/src/
installer/poc/os/
.mcp.json

# Personal environment files (not part of the project)
/.bash_profile
/.bashrc
/.gitconfig
/.gitmodules
/.mcp.json
/.profile
/.ripgreprc
/.zprofile
/.zshrc
/.idea
/.vscode
/.claude/
